*{
    box-sizing: border-box;
}
html,body{
    font-family: MessinaSans,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    margin: 0;
    padding: 0;
}
.black{
    background: #000;
    color: #fff !important;
}
.heading img{
    width: 70px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
}
ul{
    margin-top: 20px;
    list-style: none;
}
ul.int{
    padding: 50px auto;
    max-height:  50px;
    overflow: hidden;
}
.searchB{
    cursor: pointer;
    position: absolute;
    text-align: center;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    transition: .5s all;
}
.searchB:hover{
    background: rgb(133,0,32);
    transition: .5s all;
}
.searchB:hover i {
    color: #fff;
}
.searchB i{
    margin: 20px auto;
    font-size: xx-large;
    color: rgb(133,0,32);
}
section{
    display: none;
    margin-top: 100px;
    padding-top: 100px;
    font-size: xx-large;
}
.spot{
    border-left: 1px solid #aaa;
    position: absolute;
    padding: 10px 0px;
    right: 0;
    width: 70px;
    top: 70px;
    bottom: 0;
}
.intent{
    background: #fff;
    position: relative;
    padding-top: 25px;
    width: 350px;
    border: 1px solid #aaa;
    height: 100px;
}
.intent i{
    position: absolute;
    left: 10px;
    top:32px;
    color:rgb(133,0,32);
}
.spot i{
    color: blue;
    margin-left: 20px;
    font-size: 30px;
}
.spot p{
    margin-top: 200px;
    width: 100%;
    -webkit-transform: rotate(-90deg);
}
input{
   width:170px; outline: none !important;
    border: none;
    margin-left: 60px;
    color: #aaa;
}
input:focus{
    color: #000;
}
ul li{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s all;
    line-height: 40px;
}
#two li{
    width: 37%;
    border: none;
}
#two li a{
    border-bottom: 1px solid rgba(229,99,136, 1) !important;
}
#two li:hover{
    border-bottom: none;
    color: rgb(133,0,32);
}
.menus{
    margin: 0;
    padding: 10px 5px !important;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    bottom: 0;
}
.menuClick{
    background: #000 !important;
    color: #fff !important;
}
.menus li i{
    color: #aa4;
}
.menus li:hover{
    border-bottom: none !important; 
}
.no_teme{
    min-width: 200px;
}
#two span{
    color: #777;
    display: block;
}
#two button{
    outline: none;
    background: none;
    height: 50px;
    color: #fff;
    border: 1px solid #E57373;
    transition: .5s all;
}
#two button:hover{
    background: #E57373;
    color: #000;
    border: none; 
}
a{ margin: 2px 5px; color: #fff !important; text-decoration: underline; }
#two{
    padding-left: 40px;
    margin-top: 70px;
    font-size: medium !important;
    background: rgb(133,0,32);
    color: white;
    min-height: 500px;
}
.no_teme:hover{
border: none;
}
.uls{
    position: absolute;
    display: none;
    right: 0px;
    top: 0;
    float: right;
}
.abs{
    display: none;
    min-width: 200px;
    border-top: 2px solid rgb(133,0,32);
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    margin-top: 10px;
}
.abs li{
    display: none;
}
.abs li:hover{
    border-bottom: none !important;
    color: rgb(133,0,32);

}
ul li:hover{
    border-bottom: 2px solid rgb(133,0,32);
    transition: .5s all;
}
nav{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 23% 0 15%;
    margin: 0;
    height: 70px;
    border-bottom: 1px solid #aaa;
}
.fa-arrow-down{
    color: rgb(133,0,32);
}
@media screen and (max-width: 631px) {
    .menus{
        display: block !important;
    }
    .uls{
        display: none;
    }
    .int{
        display: none;
    }
    .searchB{
        display: none;
    }
    .no_teme{
        background:#444;
        margin-top: -15px;
    }
}
@media screen and (min-width: 632px) and (max-width: 757px) {
    .abs .two,.abs .one,.abs .three,.abs .four {
        display: block;
    }
    .uls{
        display: block;
    }
    nav{
        padding: 0 28% 0 15%;
    }
}
@media screen and (min-width: 758px) and (max-width: 862px)  {
    .abs .two,.abs .one,.abs .three {
        display: block;
    }
    .uls{
        display: block;
    }

}
@media screen and (min-width: 863px) and (max-width: 1017px)  {
    .abs .two,.abs .one {
        display: block;
    }
    .uls{
        display: block;
    }
}
@media screen and (min-width: 1018px) and (max-width: 1177px) {
    .abs .one{
        display: block;
    }
    .uls{
        display: block;
    }
    

}
@media screen and (max-width: 1177px) {


}
